@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #520012;
}

.heading_container {
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.heading_left h1 {
  font-family: "poppins", sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.heading_right .home_button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  margin: 0;
}

.heading_right .home_button:hover {
  color: #000000;
  background-color: #ffffff;
}

.heading_container h2 {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.heading_container p {
  font-size: 16px;
  color: #555555;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 470px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  position: relative;
  top: -10px;
}

.register-error-text {
  position: absolute;
  bottom: -18px; /* Jarak error dari input */
  left: 0;
  font-size: 12px;
  color: red;
  margin-top: 2px;
  min-height: 16px; /* Menjaga ruang tetap ada */
}

.sign-in .wrapper {
  width: 520px;
  height: 450px;
  padding: 30px;
}

.wrapper h1 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #000000;
  text-align: center;
}

.input-group {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #a8a8a8;
  display: flex;
  flex-direction: column;
}

.input-group label {
  position: relative;
  top: -30px;
  left: 1px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  pointer-events: none;
}

.input-group input {
  flex: 1;
  width: 320px;
  height: 40px;
  font-size: 18px;
  color: #000000;
  padding: 0 5px;
  border: none;
  outline: none;
}

.remember-forgot label input {
  accent-color: #bb0c0c;
}

button {
  font-family: "poppins", sans-serif;
  position: relative;
  width: 100%;
  height: 40px;
  background: #bb0c0c;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-top: 20px;
}

.sign-in .input-group {
  margin-bottom: 40px;
}

.signUp-link {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.signUp-link a {
  color: #bb0c0c;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.sign-up .wrapper {
  width: 520px;
  height: 550px;
  margin-bottom: 50px;
}

.sign-up .row {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.sign-up .input-group {
  flex: 1;
  margin-right: 5px;
  align-items: center;
  margin-bottom: 20px;
}

.sign-up .input-group:last-child {
  margin-right: 0;
}

/* Gaya untuk label di atas input */
.sign-up .input-group label {
  position: absolute;
  top: -30px;
  left: 1px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  background: transparent;
  padding: 0px;
  margin-bottom: 5px;
}

/* Input di Register */
.sign-up .input-group input {
  width: 100%;
  height: 40px;
  padding: 5px 8px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 0;
}

/* Tombol di Register */
.sign-up button {
  width: 100%;
  height: 40px;
  background: #bb0c0c;
  color: #ffffff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.sign-up button:hover {
  background: #a00b0b;
}

/* Link di Register */
.sign-up .signUp-link {
  margin-top: 10px;
  text-align: center;
}

.sign-up .signUp-link a {
  color: #bb0c0c;
  text-decoration: none;
}

.sign-up .signUp-link a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
